@keyframes slide-in-left {
  from {
    transform:translateX(100%);
  }
  to {
    transform:translateX(0);
  }
}
@keyframes slide-in-right {
  from {
    transform:translateX(-100%);
  }
  to {
    transform:translateX(0);
  }
}
@keyframes slide-out-left {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(-100%);
  }
}
@keyframes slide-out-right {
  from {
    transform:translateX(0);
  }
  to {
    transform:translateX(100%);
  }
}

@keyframes overlayToTopAndReset {
  0% {
    transform:translate(0, 0);
  }
  99% {
    transform:translate(0, -100%);
  }
  100% {
    transform:translate(100%, 0);
  }
}

@keyframes glitch1 {
  0% {
    clip-path:polygon(0 0, 100% 0, 100% 33%, 0 33%, 0 66%, 100% 66%, 100% 100%, 0 100%);    
  }
  100% {
    clip-path:polygon(0 33%, 100% 33%, 100% 66%, 0 66%, 0 100%, 100% 100%, 100% 100%, 0 100%);    
  }
}
@keyframes glitch2 {
  0% {
    clip-path:polygon(0 33%, 100% 33%, 100% 66%, 0 66%, 0 0, 100% 0, 100% 0, 0 0);        
  }
  100% {
    clip-path:polygon(0 66%, 100% 66%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 33%, 0 33%);        
  }
}