// $pink: #e91e63;

$pink: #fd97bc;
$yellow: #fede3a;
$orange: #f35336;
$red: #d1203a;
$green: #a6ffcb;
$blue: #05d5ff;
$purple: #53f;

$background-colors: (
  'pink': $pink,
  'blue': $blue,
  'yellow': $yellow
);
