// $pink: #e91e63;

$pink: #e28d9c;
$yellow: #ecbe46;
$orange: #f35336;
$red: #c45c60;
$green: #a6ffcb;
$blue: #05d5ff;
$purple: #53f;
$grey: #263238;
$turquoise: #67c7c9;

$background-colors: (
  'blue': $blue,
  'purple': $purple,
  'turquoise': $turquoise,
  'red': $red,
  'yellow': $yellow,
  'grey': $grey
);

$section-padding:6rem;

$cubic: cubic-bezier(0.5, 0.31, 0.84, 0.05);