header.page-header {
  display:flex;
  position:relative;
  z-index:1;
  overflow:hidden;
  h2 {
    font-size:1em;
    margin-top:2rem;
    @include breakpoint(medium up) {
      font-size:1.5em;
    }
  }
  &.home {
    overflow:visible;
    .page-header-inner {
      background:$blue;
      background:linear-gradient(to bottom, $blue, transparent);
      overflow:visible;
      @include breakpoint(medium up) {
        min-height:37rem;
      }
    }
    @function longTextShadow($color, $times) {
      $val: 0px 0px $color;
      @for $i from 1 through $times {
        $val: #{$val}, -#{$i}px #{$i}px #{$color};
      }
      @return $val;
    }
    @keyframes textshadow {
      0% {
        text-shadow: longTextShadow($dark-grey, 0);
      }
      100% {
        text-shadow: longTextShadow($dark-grey, 150);
      }
    }
    @keyframes textshadowreverse {
      0% {
        text-shadow: longTextShadow($dark-grey, 150);
      }
      100% {
        text-shadow: longTextShadow($dark-grey, 0);
      }
    }
    @keyframes fly {
      0% {
        margin-left:-15rem;
        margin-top:15rem;
      }
      100% {
        margin-left:0;
        margin-top:0;
      }
    }
    h1 {
      animation:textshadow 3s ease forwards, fly 3s ease forwards;
      .scrolled & {
        animation:fly 3s ease forwards, textshadowreverse 1.5s ease forwards;
        margin-left:0;
        margin-top:0;
      }
    }
    h1 {
      font-size:3em;
      @include breakpoint(medium up) {
        font-size:6em;
      }
    }
    h2 {
      font-size:2em;
      margin-top:1rem;
    }
  }
  &.footer-reveal {
    background:$yellow;
    background:linear-gradient(to bottom, $yellow, darken($yellow, 10%));
  }
  &.soccer {
    background:$red;
    background:linear-gradient(to bottom, $red, darken($red, 10%));
  }
  &.trt {
    background:$turquoise;
    background:linear-gradient(to bottom, $turquoise, darken($turquoise, 10%));
  }
  &.tours {
    background:$grey;
    background:linear-gradient(to bottom, $grey, darken($grey, 10%));
  }
  &:not(.home) {
    &:after {
      content:"";
      position:absolute;
      top:0;
      left:50%;
      width:70%;
      height:100%;
      background:linear-gradient(to bottom, rgba($white, 0.2), rgba($white, 0));
      transform:skew(-45deg);
    }
  }
  .page-header-inner {
    position:relative;
    min-height:21rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    overflow:hidden;
    z-index:1;
    padding:0 1rem;
    @include breakpoint(medium up) {
      min-height:30rem;
    }
  }
  .image {
    position:absolute;
    top:0;
    height:100%;
    right:0;
    // &:before {
    //   content:"";
    //   position:absolute;
    //   top:0;
    //   left:0;
    //   width:20rem;
    //   height:100%;
    //   background:linear-gradient(to right, rgba($turquoise, 1), rgba($turquoise, 0));
    //   z-index:1;
    // }
    img {
      // opacity:0.15;
      @extend %object-fit-image;
    }
  }
  .content {
    position:relative;
    color:$white;
    text-align:center;
    padding:2rem 0;
    z-index:1;
    transition:all 0.3s ease;
    width:100%;
    .scrolled & {
      transform:scale(0.9);
      opacity:0.5;
    }
  }
  .project-info {
    margin-top:1rem;
    .categories {
      margin:0;
      list-style:none;
      li {
        display:inline-block;
        font-style:italic;
        &:not(:last-child) {
          &:after {
            content:"";
            display:inline-block;
            width:4px;
            height:4px;
            border-radius:50%;
            background:currentColor;
            margin:0.2rem 0.5rem;
          }
        }
      }
    }
  }
}
