header.page-header {
  display:flex;
  position:relative;
  z-index:1;
  &.home {
    .page-header-inner {
      background:$blue;
      background:linear-gradient(to bottom, $purple, $blue);
    }
    &:after {
      content:"";
      position:absolute;
      top:calc(100% - 2rem);
      left:50%;
      transform:translate(-50%, -50%) rotate(45deg);
      width:1.5rem;
      height:1.5rem;
      background:$blue;
      border-radius:0.5rem;
      transition:top 0.3s ease 1s, border-radius 1s ease 1s;
      .loaded & {
        top:100%;
        border-radius:0;
      }
    }
  }
  .page-header-inner {
    position:relative;
    min-height:21rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    overflow:hidden;
    z-index:1;
    @include breakpoint(medium up) {
      min-height:30rem;
    }
  }
  .image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    &:after {
      content:"";
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:#000;
      // background:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      opacity:0.5;
    }
    img {
      @extend %object-fit-image;
    }
  }
  .content {
    position:relative;
    color:$white;
    text-align:center;
    padding:2rem 0;
    z-index:1;
  }
}
