.transition-overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  z-index:10;
  transition:transform 0.5s ease, opacity 0.3s ease;
  display:flex;
  justify-content:center;
  align-items:center;
  &.fade {
    opacity:0;
    pointer-events:none;
  }
  .loaded & {
    animation:overlayToTopAndReset 0.5s ease forwards;
  }
  @each $name, $value in $background-colors {
    &[data-color="#{$name}"] {
      background-color:$value;
      background:linear-gradient(to bottom, $value, darken($value, 10%));
      .logo svg {
        fill:#fff;
      }
    }
  }
  .logo {
    width:5rem;
    height:5rem;
    position:relative;
    .logo-1, .logo-2 {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      svg {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
    }
    .logo-1 {
      animation:glitch1 0.4s linear infinite;
    }
    .logo-2 {
      z-index:-1;
      left:-2px;
      animation:glitch2 0.4s linear infinite;
    }
    svg {
      fill:$body-font-color;
    }
  }
}

body.transition-out {
  .container {
    opacity:0.5;
  }
  &.forward {
    .container {
      transform:translateX(-10rem);
    }
    .transition-overlay {
      animation: slide-in-left 0.8s $cubic forwards;
    }
  }
  &.back {
    .container {
      transform:translateX(10rem);
    }
    .transition-overlay {
      animation: slide-in-right 0.8s $cubic forwards;
    }
  }
}