@import 'settings';
@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-float-classes;

@import
'utils/variables',
'utils/mixins',
'utils/animations',
'components/navigation',
'components/transition-overlay',
'components/page-header',
'components/page-section',
'components/browser-window',
'components/project-card',
'components/next-project',
'components/footer';

.button {
  font-family:$header-font-family;
  text-transform:uppercase;
  font-weight:$global-weight-bold;
  border:3px solid;
  color:currentColor;
  &.rainbow {
    border:0;
    position:relative;
    background:$white;
    &:after {
      content:"";
      position:absolute;
      top:-3px;
      left:-3px;
      right:-3px;
      bottom:-3px;
      background:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      z-index:-1;
    }
  }
}

a:not(.button) {
  color:inherit;
  text-decoration:underline;
}

body {
  background:$dark-gray;
}
.container {
  transition:margin-left 0.8s $cubic, margin-right 0.8s $cubic, opacity 1s ease;
  background:$blue;
  background:linear-gradient(to bottom, rgba($purple, 0.9), $blue);
}

main.content {
  background:$white;
  #home & {
    background:none;
  }
}

.about-blurb {
  padding:2rem;
  padding-bottom:18rem;
  color:$white;
  border:4px dashed $white;
  @include breakpoint(medium up) {
    padding:4rem;
  }
  p {
    margin:0;
  }
}
#about .columns {
  position:relative;
  z-index:1;
}
#about img {
  position:absolute;
  bottom:0;
  right:0;
  opacity:0.4;
  @include breakpoint(medium up) {
    right:-10rem;
    opacity:0.2;
  }
  @include breakpoint(large up) {
    right:0;
  }
}
