@import 'settings';
@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-float-classes;

@import
'utils/variables',
'utils/mixins',
'utils/animations',
'components/navigation',
'components/page-header',
'components/browser-window',
'components/project-card',
'components/footer';

.button {
  font-family:$header-font-family;
  text-transform:uppercase;
}

.transition-overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  z-index:10;
  transition:transform 0.5s ease, opacity 0.3s ease;
  &.fade {
    opacity:0;
    pointer-events:none;
  }
  .loaded & {
    animation:overlayToTopAndReset 0.5s ease forwards;
  }
  @each $name, $value in $background-colors {
    &[data-color="#{$name}"] {
      background-color:$value;
    }
  }
  svg {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:opacity 0.5s ease;
    opacity:0;
    .loading &, .loaded & {
      opacity: 1;
    }
  }
}

body {
  background:$dark-gray;
  &.transition-out {
    .container {
      opacity:0.5;
    }
    .transition-overlay {
      svg {
        display:none;
      }
    }
    &.forward {
      .container {
        margin-left:-5rem;
      }
      .transition-overlay {
        animation: slide-in-left 0.8s $cubic forwards;
      }
    }
    &.back {
      .container {
        margin-right:-5rem;
      }
      .transition-overlay {
        animation: slide-in-right 0.8s $cubic forwards;
      }
    }
  }
}
.container {
  transition:margin-left 0.8s $cubic, margin-right 0.8s $cubic, opacity 1s ease;
  background:$blue;
  background:linear-gradient(to bottom, rgba($purple, 0.9), $blue);
}
section.page-section {
  padding:$section-padding 0;
  // background-color:white;
  position:relative;
  // &:first-of-type {
  //   padding-top:0;
  // }
  .section-heading {
    text-align:center;
    text-transform:uppercase;
    position:relative;
    margin-bottom:$section-padding;
    // &:after {
    //   content:"";
    //   position:absolute;
    //   top:100%;
    //   left:50%;
    //   transform:translateX(-50%);
    //   width:10rem;
    //   height:4px;
    //   background:currentColor;
    // }
  }
  @each $name, $value in $background-colors {
    &.#{$name} {
      color:$white;
    }
    &:not(.skewed-bg) {
      &.#{$name} {
        background-color:$value;
      }
    }
    &.skewed-bg {
      &.#{$name} {
        .bg {
          background-color:$value;
        }
      }
    }
  }
  &.skewed-bg {
    .bg {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      transform:skewY(-10deg);
      transform-origin:0;
    }
    .row {
      position:relative;
      z-index:1;
    }
  }
}
